# General
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Entornos Virtuales
venv/
.env
.venv

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Project Data & Docs
# Se excluye la carpeta docs para evitar subir archivos confidenciales o binarios pesados (Project 3 source compliance)
docs/
data/

# Logs
*.log
logs/

# Testing
.pytest_cache/
.coverage
htmlcov/

# Docker
docker-compose.override.yml
